<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>플라스크</title>
</head>
<body>

       {{kma}}
       <!--
       <table>

           {% for row in kma %}
           <tr>
                {% for item in row %}
                <td> {% {item} %}</td>
                {% endfor %}
           </tr>
           {% endfor %}
       </table>
-->
    {% for i in numbers %}
        {{i}} <br />
    {% endfor %}

    {{numbers}} <br />

    <h1>반갑다 <br />
    파이썬</h1>

</body>
</html>